<!doctype html>
<html>
<head>
    <title>Network Vis Tests</title>

    <script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
    <script type="text/javascript" src="http://visjs.org/examples/network/exampleUtil.js"></script>
    <link href="http://visjs.org/dist/vis-network.min.css" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}"/>
    <link rel="stylesheet" type="text/css" href='../static/layout.css'/>

    <body>
      <div class="jumbotron text-center">
        <h1 >Network motifs tool</h1>
      </div>
      <div class="container">
        <div class="row">

      <div class="col-12 col-md-8">
          <div  id="network"></div>
      </div>

      <div class="col-6 col-md-4">

          <input class="b1 btn btn-secondary " type="file" id="selectFiles" value="Import" />

          <input   id="import" class="btn btn-secondary " type="button" id="import_button " onclick="importNetwork()" value="import"></input>

        </div>
    </div>
    </div>


        <script type="text/javascript">
            //built upon code used from http://visjs.org/examples/network/other/saveAndLoad.html

            document.getElementById('import').onclick = function() {
                var files = document.getElementById('selectFiles').files;
                console.log(files);

                if (files.length <= 0) {
                    return false;
                    }

                //var fr = new FileReader();

                //fr.onload = function(e) {
                  //  console.log(e);
                 //   var result = JSON.parse(e.target.result);
                 //   var formatted = JSON.stringify(result, null, 2);
                   // importNetwork(formatted);
                     //   }

                  //  fr.readAsText(files.item(0));
                };

            	function addConnections(elem, index) {
                        // need to replace this with a tree of the network, then get child direct children of the element
                        elem.connections = network.getConnectedNodes(index);

                    }



            	function importNetwork(fileValue) {


                   var inputValue=fileValue;


			        console.log(inputValue);
                    var inputData = JSON.parse(inputValue);
                    console.log(inputData)
                    nodes = new vis.DataSet(inputData['nodes'])
                    edges = new vis.DataSet(inputData['edges'])

                    draw()
                       /* var data = {
                            nodes: getNodeData(inputData),
                            edges: getEdgeData(inputData)


                	}
                	console.log(data);

               	 	network = new vis.Network(container, data, {});

                	resizeExportArea();*/
            	    }

                function getNodeData(data) {
                	var networkNodes = [];

                	data.forEach(function(elem, index, array) {
                    	networkNodes.push({id: elem.id, label: elem.id, x: elem.x, y: elem.y});
                	});

                	return new vis.DataSet(networkNodes);
            	}

            	function getNodeById(data, id) {
                	for (var n = 0; n < data.length; n++) {
                    		if (data[n].id == id) {  // double equals since id can be numeric or string
                      			return data[n];
                    		}
                	};

                	throw 'Can not find id \'' + id + '\' in data';
            	}




            init();
        </script>
    </body>
</html>
