<!doctype html>
<html>
<head>


<title>Network Vis Tests</title>

<script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
<script type="text/javascript" src="http://visjs.org/examples/network/exampleUtil.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="http://visjs.org/dist/vis-network.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}"/>
<link rel="stylesheet" type="text/css" href='../static/layout.css'/>

</head>
<div id="loading-screen" style="display: none">

  </div>
  <body>
    <title>Upload new File</title>

    <div class="jumbotron text-center">
      <h1 >Network motifs tool</h1>
    </div>
    <div class="container">
      <div class="row">

    <div class="col-12 col-md-8">

    </div>

    <div class="col-6 col-md-4">
      <h2 id=header >Upload new File</h2>

      <div id="form">
          <form  method=post enctype=multipart/form-data >
            <input class = "b1 btn btn-secondary"type=file name=file>
            <input  class = "btn btn-secondary"type=submit value=Upload onclick="load()">
          </form>
      </div>
      </div>
  </div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script>
        function load() {
            console.log("load")
            $( "#loading-screen" ).show( "slow" );
            	    $( "#form" ).hide( "slow" );

        }
    </script>
</html>
